h1 {
    width: 65px;
    color: orange;
    font-size: sans-serif;
}
.list-style{
    background-color: rgb(208, 226, 226);
    color: orangered;
}
p {
    font-weight: 600;
    width: 130%;
    text-align: center;
    font-family: monospace;
      
}
body {
     font-family: fantasy;
     font-size: 20px;
}
li {
    background-color: red;
    text-decoration: none;
    color: black;
}