
.navegacao{
    background-color: rgb(31, 71, 5);
    color: white;
}
.cabecalho{
    background-color: rgb(109, 109, 106);
    color: white;
}
.visao{

}
#nomecientifico{
    background-color: tomato;
}
.artigos{
    
}