
div:hover {
    border: 5px solid violet;
}
.primaria {
    color:rgb(255, 0, 212)
}
.secundaria {
    color:yellowgreen
}
.complementar{
    color:tomato;
}
.escura{
    color:red;
}
.clara{
    color: green;
}
h3.secundaria{
    background-color: indigo;
    font-family: monospace;
    width: 300px;
    font-size: 25px;
    text-decoration: underline;
}
.complementar {
    font-size: 50px;
}
.primaria, .complementar, .clara{
    font-style: italic;
}